asn1crypto==1.5.1
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
cryptography==43.0.0
dfir-unfurl==20240627
dnspython==2.6.1
idna==3.7
python-whois==0.9.4
pycparser==2.22
pyOpenSSL==24.2.1
PySocks==1.7.1
pywin32==306; sys_platform == 'win32'
requests==2.32.3
six==1.16.0
strictyaml==1.7.3
urllib3==2.2.2
win-inet-pton==1.1.0 #inactive - looking for replacement
wincertstore==0.2 #ideprecated - needs replaced
wget==3.2
